






<nav class="navbar navbar-default">
    <div class="container-fluid">
     
   
        
       <a routerLink="/http" routerLinkActive="active">http</a>
       <a routerLink="/user" routerLinkActive="active">user</a>
       <a routerLink="/parent" routerLinkActive="active">parent</a>
       <a routerLink="/child" routerLinkActive="active">child</a>
       <a routerLink="/login" routerLinkActive="active">login</a>
       <a routerLink="/home" routerLinkActive="active">Homepage</a>
    </div>
  </nav>
<router-outlet></router-outlet>