<p style="text-align: center" >Http Request</p>
<table class="table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>User Id</th>
    <th>Status</th>
  </tr>
  <tr *ngFor="let datas of httpData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
    <td>{{datas.id}}</td>
    <td>{{datas.title}}</td>
    <td>{{datas.userId}}</td>
    <td>{{datas.completed}}</td>
  </tr>
</table>

<!-- <p>Default pagination:</p> -->
<div style="padding-left: 400px;">
<ngb-pagination [pageSize] = "10" [collectionSize]="100" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
</div>
<!-- <p>No direction links:</p>
<ngb-pagination [pageSize] = "25" [collectionSize]="100" [(page)]="page" [directionLinks]="false"></ngb-pagination>

<p>With boundary links:</p>
<ngb-pagination [pageSize] = "25" [collectionSize]="100" [(page)]="page" [boundaryLinks]="true"></ngb-pagination> -->

<!-- <hr> -->

<!-- <pre>Current page: {{page}}</pre> -->